.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 5% !important;
}

.login-form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 5% !important;
    &__element {
        width: 100%;
    }
    &__button {
        background-color: hsl(239, 81%, 37%) !important;
        color: white !important;
    }
    &__register-text {
        width: 100%;
        text-align: center;
        margin: 10px 0 10px 0;
        font-size: 14px;
    }
}

.login-form__element + .login-form__element {
    margin-top: 20px;
}